img {
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

body {
    background-color: rgb(218, 216, 214);
    margin: 0;
    padding: 0;
    height: 100%;
}
main {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

body.card {
    margin-top: 100px;
}

div.card-header {
    margin-left: 20px;
    margin-top: 5px;
    font-family: inherit;
    background-color: white;
}

/*how do I raise my margin so it is closer to the header*/

footer {
    display: block;
    text-align: center;
}
/*links*/